# Logs
*.log

# Bower dependency directory
bower_components

# Dependency directories
node_modules

# Serverless Webpack directories
.webpack

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDE
.idea
.vscode
.vs